<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= title %>  </h1>
    <ul>
        <% sKills.forEach(function(t, idx) { %>
          <li>
            <a href="/skills/<%= idx %>"> <%= t.skills %>   </a>
            
              - 
            <%= t.rating %>
          </li>
        <% }); %>
      </ul> 
      <a href="/skills/new">Add Skill</a>
      <h3> as of <%= time %></h3>
      <form action="/skills" method="POST" autocomplete="off">
        <input type="text" name="skill">
        <button type="submit">Add Skill</button>
      </form>
</body>
</html>