<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express Dev Skills</title>
</head>
<body>
   
  <section>
      <h1> <%= title %>  </h1>
      <div class="container">
    <h5> as of <%= time %></h5>
    <ul>
        <% sKills.forEach(function(t, idx) { %>
          <li>
              <form action="/skills/<%= idx %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            <a href="/skills/<%= idx %>"> <%= t.skills %> </a>
            
              - 
            <%= t.level %>
          </li>
        <% }); %>
      </ul> 
      <a href="/skills">Previous</a>
    </div>
    </section>
      
</body>
</html>